@page "/TaskItem/Details/{Id}"

@namespace RebacExperiments.Blazor.Pages

@using RebacExperiments.Blazor.Components
@using RebacExperiments.Blazor.Shared.Models;
@using RebacExperiments.Shared.ApiSdk;
@using RebacExperiments.Shared.ApiSdk.Models;

@inject ApiClient ApiClient


<FluentStack Orientation="Orientation.Vertical">
    <div>
        <FluentTextField Name="title" @bind-Value="CurrentTaskItem.Title" Label="Title" ReadOnly />
        </div>
        <div>
            <FluentTextArea Name="description" Rows=5 Cols=60 @bind-Value="CurrentTaskItem.Description" Label="Description" ReadOnly />
        </div>
        <div>
            <TaskItemPrioritySelector name="priority" Label="Priority" Disabled />
        </div>
</FluentStack>
