@page "/Help/Errors/{ErrorCode}"

@using RebacExperiments.Blazor.Components

@namespace RebacExperiments.Blazor.Pages

@inject ApplicationErrorTranslator ApplicationErrorTranslator

@if(!string.IsNullOrWhiteSpace(_assetUrl)) {
    <MarkdownSection FromAsset=@_assetUrl />
} 
else
{
    <p>Loading Error Information ...</p>
}