@page "/Help/Errors/{ErrorCode}"

@using RebacExperiments.Blazor.Components

@namespace RebacExperiments.Blazor.Pages

@inject ApplicationErrorTranslator ApplicationErrorTranslator
<style>
    p {
        max-width: 700px;  
    }
</style>

    @if (!string.IsNullOrWhiteSpace(_assetUrl))
    {
        <MarkdownSection FromAsset=@_assetUrl />
    }
    else
    {
        <p>Loading Error Information ...</p>
    }
