@page "/"
@using RebacExperiments.Shared.ApiSdk

@inject ApiClient ApiClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p style="margin-bottom: 1rem;">
    Welcome to your new app.
</p>

<FluentStack Orientation="Orientation.Vertical">
    <FluentButton Appearance="Appearance.Accent" OnClick="SignInUser_Philipp">Sign In as "philipp@bytefish.de"</FluentButton>
    <FluentButton Appearance="Appearance.Accent" OnClick="SignInUser_Max">Sign In as "max@mustermann.local"</FluentButton>
    <FluentButton Appearance="Appearance.Accent" OnClick="SignOutUser">Sign Out</FluentButton>
</FluentStack>